body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.app,
#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text-summary-container,
.error-box {
  background-color: #f0f0f0;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  display: flex;
  padding: 1em 1em;
  align-items: center;
  margin: 10px 0;
}

.text-summary-container > * {
  display: flex;
  margin: 0 10px;
  perspective: 100px;
}

.book-icon-box {
  height: 2em;
  width: 2.4em;
  position: relative;
  perspective: 100px;
}

.book-icon-box > * {
  box-sizing: border-box;
}

.book-icon-box div {
  border: 0.15em solid black;
  width: 50%;
  height: 100%;
  margin: 0;
  z-index: 0;
  background-color: blanchedalmond;
  transform: rotateX(30deg);
}

.book-icon-box .swap {
  position: absolute;
  transform-origin: right;
  /* transition: transform 1s ease-in-out; */
  z-index: 10;
}

.loading-animation .swap {
  animation: swap 1s ease-in-out 0s alternate-reverse infinite;
}

@keyframes swap {
  0% {
    transform: rotateX(30deg);
  }
  50% {
    border-bottom-left-radius: 10px;
  }
  100% {
    transform: rotateX(30deg) rotateY(180deg);
  }
}

.book-icon-box div span {
  width: 80%;
  height: 2px;
  display: block;
  margin: 3px 10%;
  background-color: gray;
}

.error-box span {
  position: relative;
  display: block;
}

.error-box span.under {
  position: absolute;
  font-family: monospace;
  font-size: 0.7em;
  color: red;
  font-weight: bold;
  animation: pulse 1s ease-in-out 0s alternate-reverse infinite;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
